<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>

  <!-- <link rel="stylesheet" href="./booking-form.css"> -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
    rel="stylesheet" />
  <style>
    .booking_form .left_part {
      flex-basis: 60%;
    }

    .booking_form .booking_summary {
      flex-basis: 40%;
    }

    .booking_form label {
      font-size: 14px;
      line-height: 20px;
      font-weight: 500;
      margin-bottom: 5px;
      display: block;
      color: #464f60;
    }

    .booking_form select {
      padding: 10px;
      border-radius: 10px;
      font-size: 14px;
      line-height: 20px;
      color: #464f60;
      border: 1px solid #868fa029;
    }

    .booking_form input[type='date'],
    .booking_form input[type='tel'],
    .booking_form input[type='number'],
    .booking_form input[type='text'] {
      padding: 10px;
      border-radius: 10px;
      font-size: 14px;
      line-height: 20px;
      color: #464f60;
      border: 1px solid #868fa029;
      outline: none;
      width: 100%;
    }

    .booking_form .form_fields {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
    }

    .booking_form .qty_action {
      width: 32px;
      height: 32px;
      border-radius: 10px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid lightgray;
    }

    .booking_form .additional_services details .content {
      gap: 40px;
    }

    .booking_form .additional_services {
      border-top: 1px solid lightgray;
      margin-top: 40px;
      padding-top: 20px;
    }

    .booking_form .additional_services p {
      font-size: 14px;
      line-height: 20px;
    }

    .booking_form .age_block {
      padding-bottom: 30px;
      border-bottom: 1px solid #e5e7eb;
    }

    .booking_form .additional_services .service span {
      font-size: 12px;
      line-height: 20px;
    }

    .booking_form .additional_services .content {
      margin-bottom: 20px;
      padding-bottom: 20px;
      border-bottom: 1px solid #f3f4f6;
      max-width: fit-content;
    }

    .booking_form .person_text p {
      font-size: 12px;
      line-height: 20px;
    }

    .booking_form .booking_summary h2.title {
      font-size: 16px;
      line-height: 19px;
      font-weight: 700;
      margin-bottom: 20px;
      padding-bottom: 20px;
      border-bottom: 1px solid #f3f4f6;
    }

    .booking_form .joining_from {
      gap: 20px;
    }

    .booking_form .additional_services .content .qty {
      gap: 15px;
    }

    .booking_form .booking_summary .total_fare p,
    .booking_form .booking_summary .final_pickup p,
    .booking_form .booking_summary .trip_destination p,
    .booking_form .booking_summary .trip_destination h3 {
      font-size: 14px;
      line-height: 20px;
    }

    .booking_form .booking_summary .pay_now-button {
      width: 100%;
      background-color: #1a3c6c;
      outline: none;
      border: none;
      padding: 10px 0;
      color: #fff;
      border-radius: 10px;
      font-size: 14px;
      line-height: 20px;
    }

    .booking_form .age_block {
      gap: 10px;
    }

    .booking_form .age_block .qty {
      gap: 10px;
    }

    .booking_form .booking_summary .view_breakdown-btn {
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 20px;
    }

    .booking_form .booking_summary .payment_tabs {
      background-color: lightgray;
      border-radius: 6px;
      display: flex;
    }

    .booking_form .booking_summary .payment_tabs button {
      background-color: transparent;
      border: none;
      width: 50%;
    }

    .booking_form .booking_summary .payment_tabs button.active {
      box-shadow: 0px 2px 6px 0px #00000040;
      background-color: white;
      border-radius: 4px;
      margin: 2px;
    }

    .booking_form .booking_summary .modal {
      max-width: 526px;
      display: block;
      max-height: max-content;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
    }

    @media (max-width: 749px) {
      .booking_form {
        flex-wrap: wrap;
      }

      .booking_form .booking_summary,
      .booking_form .left_part {
        flex-basis: 100%;
      }
    }

    .modal {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1000;
    }

    .modal-content {
      background-color: white;
      border-radius: 8px;
      width: 400px;
      padding: 10px;
      z-index: 1001;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }

    .modal-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .modal-header h2 {
      font-size: 16px;
      font-weight: bold;
      line-height: 19px;
    }

    .modal-header button {
      background: none;
      border: none;
      font-size: 24px;
      cursor: pointer;
    }

    .pickup-info,
    .cost-details,
    .subtotal,
    .total,
    .note {
      margin: 10px 0;
    }

    .cost-row {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
    }

    .cost-row span {
      font-size: 16px;
    }

    .subtotal p,
    .total {
      font-size: 16px;
      display: flex;
      justify-content: space-between;
    }

    .total {
      font-size: 18px;
      font-weight: bold;
    }

    .note {
      margin-top: 10px;
      background-color: #fdf3e5;
      border-radius: 5px;
      padding: 10px;
      font-size: 14px;
      color: #ff9f00;
    }

    .modal .modal-content .trip_info h3 {
      font-size: 16px;
      line-height: 19px;
      font-weight: 700;
    }

    .modal .modal-content .cost-details h4 {
      font-size: 16px;
      font-weight: 700;
      line-height: 19px;
    }
  </style>
</head>

<body>
  <main>
    <div class="container my-5">
      <h2>Booking initiated</h2>
      <p>
        Please enter your details below and proceed to payment. Leave the rest
        to us.
      </p>

      <form class="d-flex gap-4 booking_form">
        <div class="left_part p-4 bg-white rounded-4">
          <div class="d-flex joining_from gap-3 mb-3">
            <div class="w-50">
              <label for="location">Joining from</label>
              <select id="location" class="w-100">
                <option value="Ahmedabad">Ahmedabad</option>
                <option value="Delhi">Delhi</option>
                <option value="Mumbai">Mumbai</option>
                <option value="Bangalore">Bangalore</option>
              </select>
            </div>

            <div class="w-50">
              <label for="travel-date">Travel date</label>
              <input class="w-100" type="date" id="travel-date" required />
            </div>
          </div>

          <div class="age_block d-flex gap-4 mb-4">
            <div class="adult_age">
              <label for="Adult">Adults(age 10+)</label>
              <div class="d-flex qty gap-3 align-items-center">
                <span class="w-32 h-32 qty_action">-</span>
                <span>2</span>
                <span class="w-32 h-32 qty_action">+</span>
              </div>
            </div>

            <div class="child_age">
              <label for="child">Childs(age 5-10)</label>
              <div class="d-flex qty gap-3 align-items-center">
                <span class="w-32 h-32 qty_action">-</span>
                <span>2</span>
                <span class="w-32 h-32 qty_action">+</span>
              </div>
            </div>
          </div>

          <h5>Person's details</h5>
          <div class="mb-4 person_text">
            <h6 class="mb-0">Person 1</h6>
            <p class="">
              Lead person of your group, with whom we can communicate for
              further instructions.
            </p>
          </div>
          <div class="form_fields">
            <div>
              <label for="first-name">First name*</label>
              <input type="text" id="first-name" required placeholder="First Name" />
            </div>

            <div>
              <label for="surname">Surname*</label>
              <input type="text" id="surname" required placeholder="Surname" />
            </div>

            <div>
              <label for="birth-date">Birth date*</label>
              <input type="date" id="birth-date" required placeholder="Birth Date" />
            </div>

            <div>
              <label for="gender">Gender*</label>
              <select id="gender" required class="w-100">
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="other">Other</option>
              </select>
            </div>

            <div>
              <label for="mobile-number">Mobile number*</label>
              <input type="tel" id="mobile-number" required placeholder="+91 Enter your mobile number" />
            </div>

            <div>
              <label for="alternative-number">Alternative number</label>
              <input type="tel" id="alternative-number" placeholder="+91 Enter your mobile number" />
            </div>
          </div>

          <div class="additional_services">
            <details>
              <summary class="mb-4">Additional services (optional)</summary>
              <div>
                <div class="content d-flex">
                  <div class="service">
                    <p class="m-0">Couple stay</p>
                    <span>₹3000 per couple</span>
                  </div>
                  <div class="d-flex gap-4 align-items-center qty">
                    <span class="w-32 h-32 qty_action">-</span>
                    <span>2</span>
                    <span class="w-32 h-32 qty_action">+</span>
                  </div>
                </div>
                <div class="content d-flex">
                  <div class="service">
                    <p class="m-0">3AC train ticket</p>
                    <span>₹3000 per couple</span>
                  </div>
                  <div class="d-flex gap-4 align-items-center qty">
                    <span class="w-32 h-32 qty_action">-</span>
                    <span>2</span>
                    <span class="w-32 h-32 qty_action">+</span>
                  </div>
                </div>
                <div class="content d-flex">
                  <div class="service">
                    <p class="m-0">Flight ticket</p>
                    <span>₹3000 per couple</span>
                  </div>
                  <div class="d-flex gap-4 align-items-center qty">
                    <span class="w-32 h-32 qty_action">-</span>
                    <span>2</span>
                    <span class="w-32 h-32 qty_action">+</span>
                  </div>
                </div>
                <div class="content d-flex">
                  <div class="service">
                    <p class="m-0">Jain food</p>
                    <span>No extra charges</span>
                  </div>
                  <div class="d-flex gap-4 align-items-center qty">
                    <span class="w-32 h-32 qty_action">-</span>
                    <span>2</span>
                    <span class="w-32 h-32 qty_action">+</span>
                  </div>
                </div>
              </div>
            </details>
          </div>
        </div>
        <div class="right_part booking_summary p-4 bg-white rounded-4 h-100">
          <h2 class="title">Booking summary</h2>

          <div class="trip_destination">
            <h3 class="fw-bold mb-0">Kedarnath - Tungnath</h3>
            <p>6 days - 7 nights</p>
          </div>

          <div class="final_pickup d-flex justify-content-between">
            <div>
              <p class="m-0">Pickup from:</p>
              <p class="city">Ahemdabad</p>
            </div>
            <div>
              <p class="m-0">Travel date:</p>
              <p class="date">8 May 2024 to 16 May 2024</p>
            </div>
          </div>

          <div class="total_fare d-flex justify-content-between">
            <p class="fw-bold">Total costs</p>
            <p class="total">₹77,689</p>
          </div>
          <a href="#" class="view_breakdown-btn text-end text-black d-block">View breakdown</a>
          <div class="modal d-none">
            <!-- Modal Background -->
            <div class="modal-bg"></div>

            <!-- Modal Content -->
            <div class="modal-content">
              <div class="modal-header">
                <h2>Cost breakdown</h2>
                <button class="close_modal">&times;</button>
              </div>

              <div class="modal-body">
                <div class="trip_info">
                  <h3>Kedarnath - Tungnath</h3>
                  <p>6 day - 7 nights</p>
                </div>

                <div class="pickup-info d-flex">
                  <p><strong>Pickup from:</strong> <span>Ahemdabad</span></p>
                  <p>
                    <strong>Travel date:</strong>
                    <span class="d-inline-block">8 May 2024 to 16 May 2024</span>
                  </p>
                </div>

                <div class="cost-details">
                  <h4>Total cost</h4>
                  <div class="cost-row">
                    <span></span>
                    <span>price</span>
                    <span>Final Amount</span>
                  </div>
                  <div class="cost-row">
                    <span>Adults</span>
                    <span>8 X 7499</span>
                    <span>59,992</span>
                  </div>
                  <div class="cost-row">
                    <span>Child</span>
                    <span>2 X 5499</span>
                    <span>10,998</span>
                  </div>
                  <div class="cost-row">
                    <span>Couple stay</span>
                    <span>1 X 3000</span>
                    <span>3,000</span>
                  </div>
                </div>

                <div class="cost-row m-0">
                  <span></span>
                  <span>Subtotal</span>
                  <span class="subtotal">73990</span>
                </div>

                <div class="cost-row">
                  <span></span>
                  <span class="gst_tax">GST(5%)</span>
                  <span>3699</span>
                </div>

                <div class="cost-row total">
                  <span></span>
                  <span></span>
                  <b>Total: 77,689</b>
                </div>

                <div class="note">
                  <p>
                    3AC train ticket and flight ticket charges will be applied
                    after the actual ticket booking.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="payment_tabs">
            <button class="button" type="button">Pay full payment</button>
            <button class="button active" type="button" ]>
              Pay part payment
            </button>
          </div>

          <div class="my-4">
            <label for="amount-to-pay">Enter amount to pay now</label>
            <input type="number" id="amount-to-pay" min="0" />
            <label class="mt-1">Minimum should be 30% of total amount</label>
          </div>

          <button class="button pay_now-button">Pay ₹23,307 now</button>
        </div>
      </form>
    </div>
  </main>

  <style>
    body,
    html {
      font-family: 'Inter';
      background-color: #e9edf5;
    }
  </style>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
    crossorigin="anonymous"></script>
</body>

</html>